@import url('../../fonts/fonts.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Founders Grotesk Medium';
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; 
    background-image: url('https://res.cloudinary.com/dvafjaqbd/image/upload/v1714405208/MONTAJE/TEXTU_RUIDO_kay1rm.png');
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    z-index: 9999;
    pointer-events: none;
    opacity: 0.13; 
}

