  /* --------------------------------------------------------------------------------------- */
  /*   Founders Grotesk                                                                      */
  /* --------------------------------------------------------------------------------------- */

  /* Founders Grotesk Bold */
@font-face {
    font-family: 'Founders Grotesk Bold';
    src: url('https://res.cloudinary.com/dvafjaqbd/raw/upload/v1716330673/MONTAJE/TYPES/Founders_Grotesk/Founders_Grotesk/FoundersGrotesk-Bold_rkrxva.otf') format('opentype');
  }
  
  /* Founders Grotesk Bold Italic */
  @font-face {
    font-family: 'Founders Grotesk Bold Italic';
    src: url('https://res.cloudinary.com/dvafjaqbd/raw/upload/v1716330670/MONTAJE/TYPES/Founders_Grotesk/Founders_Grotesk/FoundersGrotesk-BoldItalic_blyyyl.otf') format('opentype');
  }
  
  /* Founders Grotesk Condensed Light */
  @font-face {
    font-family: 'Founders Grotesk Condensed Light';
    src: url('https://res.cloudinary.com/dvafjaqbd/raw/upload/v1716330674/MONTAJE/TYPES/Founders_Grotesk/Founders_Grotesk/FoundersGroteskCond-Lt_wkht88.otf') format('opentype');
  }
  
  /* Founders Grotesk Light */
  @font-face {
    font-family: 'Founders Grotesk Light';
    src: url('https://res.cloudinary.com/dvafjaqbd/raw/upload/v1716330673/MONTAJE/TYPES/Founders_Grotesk/Founders_Grotesk/FoundersGrotesk-Light_xgwymr.otf') format('opentype');
  }
  
  /* Founders Grotesk Light Italic */
  @font-face {
    font-family: 'Founders Grotesk Light Italic';
    src: url('https://res.cloudinary.com/dvafjaqbd/raw/upload/v1716330671/MONTAJE/TYPES/Founders_Grotesk/Founders_Grotesk/FoundersGrotesk-LightItalic_iqfdej.otf') format('opentype');
  }
  
  /* Founders Grotesk Medium */
  @font-face {
    font-family: 'Founders Grotesk Medium';
    src: url('https://res.cloudinary.com/dvafjaqbd/raw/upload/v1716330672/MONTAJE/TYPES/Founders_Grotesk/Founders_Grotesk/FoundersGrotesk-Medium_ioecod.otf') format('opentype');
  }
  
  /* Founders Grotesk Medium Italic */
  @font-face {
    font-family: 'Founders Grotesk Medium Italic';
    src: url('https://res.cloudinary.com/dvafjaqbd/raw/upload/v1716330675/MONTAJE/TYPES/Founders_Grotesk/Founders_Grotesk/FoundersGrotesk-MediumItalic_jzd9h9.otf') format('opentype');
  }
  
  /* Founders Grotesk Regular */
  @font-face {
    font-family: 'Founders Grotesk Regular';
    src: url('https://res.cloudinary.com/dvafjaqbd/raw/upload/v1716330671/MONTAJE/TYPES/Founders_Grotesk/Founders_Grotesk/FoundersGrotesk-Regular_ocbldh.otf') format('opentype');
  }
  
  /* Founders Grotesk Regular Italic */
  @font-face {
    font-family: 'Founders Grotesk Regular Italic';
    src: url('https://res.cloudinary.com/dvafjaqbd/raw/upload/v1716330674/MONTAJE/TYPES/Founders_Grotesk/Founders_Grotesk/FoundersGrotesk-RegularItalic_gwbfce.otf') format('opentype');
  }
  
  /* Founders Grotesk Semibold */
  @font-face {
    font-family: 'Founders Grotesk Semibold';
    src: url('https://res.cloudinary.com/dvafjaqbd/raw/upload/v1716330675/MONTAJE/TYPES/Founders_Grotesk/Founders_Grotesk/FoundersGrotesk-Semibold_mdhdvy.otf') format('opentype');
  }
  
  /* Founders Grotesk Semibold Italic */
  @font-face {
    font-family: 'Founders Grotesk Semibold Italic';
    src: url('https://res.cloudinary.com/dvafjaqbd/raw/upload/v1716330676/MONTAJE/TYPES/Founders_Grotesk/Founders_Grotesk/FoundersGrotesk-SemiboldItalic_pitslv.otf') format('opentype');
  }
  
  /* Founders Grotesk Extra Condensed Bold */
  @font-face {
    font-family: 'Founders Grotesk Extra Condensed Bold';
    src: url('https://res.cloudinary.com/dvafjaqbd/raw/upload/v1716330676/MONTAJE/TYPES/Founders_Grotesk/Founders_Grotesk/FoundersGroteskXCond-Bold_borzr3.otf') format('opentype');
  }
  
  /* Founders Grotesk Extra Condensed Light */
  @font-face {
    font-family: 'Founders Grotesk Extra Condensed Light';
    src: url('https://res.cloudinary.com/dvafjaqbd/raw/upload/v1716330676/MONTAJE/TYPES/Founders_Grotesk/Founders_Grotesk/FoundersGroteskXCond-Lt_vilxun.otf') format('opentype');
  }
  

  /* --------------------------------------------------------------------------------------- */
  /*   MADE Soulmaze                                                                         */
  /* --------------------------------------------------------------------------------------- */

  @font-face {
    font-family: 'MADE Soulmaze Brush';
    src: url('https://res.cloudinary.com/dvafjaqbd/raw/upload/v1716330645/MONTAJE/TYPES/made_soulmaze/MADE_Soulmaze_Brush_PERSONAL_USE_xh1gao.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'MADE Soulmaze Italic';
    src: url('https://res.cloudinary.com/dvafjaqbd/raw/upload/v1716330659/MONTAJE/TYPES/made_soulmaze/MADE_Soulmaze_Italic_PERSONAL_USE_xqvgwk.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'MADE Soulmaze Outline Italic';
    src: url('https://res.cloudinary.com/dvafjaqbd/raw/upload/v1716330668/MONTAJE/TYPES/made_soulmaze/MADE_Soulmaze_Outline_Italic_PERSONAL_USE_lz8sb0.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'MADE Soulmaze Outline';
    src: url('https://res.cloudinary.com/dvafjaqbd/raw/upload/v1716330669/MONTAJE/TYPES/made_soulmaze/MADE_Soulmaze_Outline_PERSONAL_USE_sezvoa.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'MADE Soulmaze';
    src: url('https://res.cloudinary.com/dvafjaqbd/raw/upload/v1716330669/MONTAJE/TYPES/made_soulmaze/MADE_Soulmaze_PERSONAL_USE_cpyd7j.otf') format('opentype');
  }  

  /* --------------------------------------------------------------------------------------- */
  /*   Filson Pro Black                                                                      */
  /* --------------------------------------------------------------------------------------- */

  @font-face {
    font-family: 'Filson Pro Black';
    src: url('https://res.cloudinary.com/dvafjaqbd/raw/upload/v1716330605/MONTAJE/TYPES/filson-pro-cufonfonts/FilsonProBlack_zbsnvu.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Filson Pro Black Italic';
    src: url('https://res.cloudinary.com/dvafjaqbd/raw/upload/v1716330606/MONTAJE/TYPES/filson-pro-cufonfonts/FilsonProBlackItalic_mzdj5n.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Filson Pro Bold';
    src: url('https://res.cloudinary.com/dvafjaqbd/raw/upload/v1716330606/MONTAJE/TYPES/filson-pro-cufonfonts/FilsonProBold_jwcpmd.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Filson Pro Bold Italic';
    src: url('./filson-pro-cufonfonts/FilsonProBoldItalic.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Filson Pro Book';
    src: url('https://res.cloudinary.com/dvafjaqbd/raw/upload/v1716330606/MONTAJE/TYPES/filson-pro-cufonfonts/FilsonProBook_wz37kq.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Filson Pro Book Italic';
    src: url('https://res.cloudinary.com/dvafjaqbd/raw/upload/v1716330607/MONTAJE/TYPES/filson-pro-cufonfonts/FilsonProBookItalic_gydqg0.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Filson Pro Heavy';
    src: url('https://res.cloudinary.com/dvafjaqbd/raw/upload/v1716330607/MONTAJE/TYPES/filson-pro-cufonfonts/FilsonProHeavy_ax3yyx.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Filson Pro Heavy Italic';
    src: url('https://res.cloudinary.com/dvafjaqbd/raw/upload/v1716330607/MONTAJE/TYPES/filson-pro-cufonfonts/FilsonProHeavyItalic_wrdpu4.otf') format('opentype');
  }
  @font-face {
    font-family: 'Filson Pro Bold Italic';
    src: url('https://res.cloudinary.com/dvafjaqbd/raw/upload/v1716330607/MONTAJE/TYPES/filson-pro-cufonfonts/FilsonProBoldItalic_kudcut.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Filson Pro Light';
    src: url('https://res.cloudinary.com/dvafjaqbd/raw/upload/v1716330607/MONTAJE/TYPES/filson-pro-cufonfonts/FilsonProLight_mfkfg8.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Filson Pro Light Italic';
    src: url('https://res.cloudinary.com/dvafjaqbd/raw/upload/v1716330608/MONTAJE/TYPES/filson-pro-cufonfonts/FilsonProLightItalic_m2yjjn.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Filson Pro Medium';
    src: url('https://res.cloudinary.com/dvafjaqbd/raw/upload/v1716330608/MONTAJE/TYPES/filson-pro-cufonfonts/FilsonProMedium_l48by2.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Filson Pro Medium Italic';
    src: url('https://res.cloudinary.com/dvafjaqbd/raw/upload/v1716330609/MONTAJE/TYPES/filson-pro-cufonfonts/FilsonProMediumItalic_ds1ua8.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Filson Pro Regular';
    src: url('https://res.cloudinary.com/dvafjaqbd/raw/upload/v1716330609/MONTAJE/TYPES/filson-pro-cufonfonts/FilsonProRegular_indckc.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Filson Pro Regular Italic';
    src: url('https://res.cloudinary.com/dvafjaqbd/raw/upload/v1716330609/MONTAJE/TYPES/filson-pro-cufonfonts/FilsonProRegularItalic_nuvzvy.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Filson Pro Thin';
    src: url('https://res.cloudinary.com/dvafjaqbd/raw/upload/v1716330610/MONTAJE/TYPES/filson-pro-cufonfonts/FilsonProThin_hozpgd.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Filson Pro Thin Italic';
    src: url('https://res.cloudinary.com/dvafjaqbd/raw/upload/v1716330610/MONTAJE/TYPES/filson-pro-cufonfonts/FilsonProThinItalic_wtgd0y.otf') format('opentype');
  }  
