@import url("../../../../fonts/fonts.css");
@import "../../../styles/mixins.scss";

.sectionChequeaPresentacion {
    @include dimensions(100%, 80vh);
    background-image: url("https://res.cloudinary.com/dvafjaqbd/image/upload/v1714336860/MONTAJE/CHEQUEA/8_bp66eb.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-wrap: wrap;
    scroll-snap-align:start;
    &__imgContainer {
        display: flex;
        width: 100%;
        &-imgCheems {
            @include dimensions(45%, auto);
            align-self: flex-end;
            z-index: 1;
            position: absolute;
            max-height: 80%
        }
        &-imgTitle {
            @include dimensions(100%, auto);
            z-index: 0;
            align-self: flex-end;
            padding-left: 30%;
            padding-right: 5%;
            padding-bottom: 3%;
            
        }
    }
    &__textContainer {
        top: 28%;
        left: 45%;
        padding-right: 2%;

        position: absolute;
        display: flex;
        flex-direction: column;

        &-text {
            color: #f1f1d8;
            line-height: 1.5;
        }
        &--bg {
            background-color: #161616;
            @include customFontStyles(2vw, "Filson Pro Book", normal);
        }
    }
}

@include responsive(300px) {
    .sectionChequeaPresentacion {

        &__textContainer {
            top: 40%;
            left: 5%;
            &--bg {
                @include customFontStyles(7vw, "Filson Pro Book", normal);
            }
        }
    }
}
@media (min-width:301px) and (max-width: 764px){
    .sectionChequeaPresentacion {

        &__textContainer {
            top: 20%;
            left: 5%;
            &--bg {
                @include customFontStyles(7vw, "Filson Pro Book", normal);
            }
        }
    }
}
@media (min-width:501px) and (max-width: 764px){
    .sectionChequeaPresentacion {

        &__textContainer {
            left: 5%;
            &--bg {
                @include customFontStyles(5vw, "Filson Pro Book", normal);
            }
            
        }
    }
}
@media (min-width:765px) and (max-width: 929px){
    .sectionChequeaPresentacion {

        &__textContainer {
            top: 18%;
            left: 5%;
            &--bg {
                @include customFontStyles(4vw, "Filson Pro Book", normal);
            }
            
        }
    }
}

@media (min-width:933px) and (max-width: 1110px){
    .sectionChequeaPresentacion {

        &__textContainer {
            &--bg {
                @include customFontStyles(3vw, "Filson Pro Book", normal);
            }
            
        }
    }
}
@media (min-width:1111px) and (max-width: 1486px){
    .sectionChequeaPresentacion {

        &__textContainer {
            &--bg {
                @include customFontStyles(2vw, "Filson Pro Book", normal);
            }
            
        }
    }
}




